#include <iostream>

using namespace std;

int main()

{
int a,b;
char op, op1;
int r;
cin >> a;
cin >> op;

if (op == '>') {cin >> op1;
  if (op1 == '>') {
  cin >> b;
  r = a>>b;
  cout << "result:" << r;}
  else cout << "Введен неправильный знак";
}

else if(op == '<') {cin >> op1;
  if (op1 == '<') {
  cin >> b;
  r = a<<b;
  cout << "result:" << r;}
  else cout << "Введен неправильный знак";
}

if(op == '+'){cin >> b;
  r = a+b;
  cout << "result:" << r;
}

else if(op == '-'){cin >> b;
  r = a-b;
  cout << "result:" <<r;
}

else if(op == '*'){cin >> b;
  r = a*b;
  cout << "result:" <<r;
}

else if(op == '/'){cin >> b;
    if (b==0) {cout << "На ноль делить нельзя"; return -1; }
    r = a/b;
    cout << "result:" << r;
}

else if(op == '^'){cin >> b;
  r = a^b;
  cout << "result:" <<r;
}

else if(op == '%'){cin >> b;
  r = a%b;
  cout << "result:" <<r;
}

else if(op == '&'){cin >> b;
  r = a&b;
  cout << "result:" <<r;
}

else if(op == '|'){cin >> b;
  r = a|b;
  cout << "result:" <<r;
}
else cout << "error";

//system("pause");
    cin.get();

return 0;
}
