#include <iostream>

using namespace std;

int main()

{
int a,b,r;
char op, op1;

cin >> a;
cin >> op;

if (op == '>') {cin >> op1; 
  if (op1 == '>') {
  cin >> b;
  r = a>>b;
  cout << "result:" << r;}
  else cout << "Введен неправильный знак";
}

else if(op == '<') {cin >> op1;
  if (op1 == '<') {
  cin >> b;
  r = a<<b;
  cout << "result:" << r;}
  else cout << "Введен неправильный знак";
}

if(op == '+'){cin >> b;
  r = a+b;
  cout << "result:" << r;
}

else if(op == '-'){cin >> b;
  r = a-b;
  cout << "result:" <<r;
}

else if(op == '*'){cin >> b;
  r = a*b;
  cout << "result:" <<r;
}

else if(op == '/'){cin >> b; if (b!=0) {r = a/b;
    } if (b=0) {cout << 'На ноль делить нельзя';}
  cout << "result:" << r;
}

else if(op == '^'){cin >> b;
  r = a^b;
  cout << "result:" <<r;
}

else if(op == '%'){cin >> b;
  r = a%b;
  cout << "result:" <<r;
}

else if(op == '&'){cin >> b;
  r = a&b;
  cout << "result:" <<r;
}

else if(op == '|'){cin >> b;
  r = a|b;
  cout << "result:" <<r;
}

system("pause");

return 0;
}
